body{
    background-color: black;
}

.motivation{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

img{
    border: 5px solid white;
    width: 500px;
    height: 300px;
}